@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.grey.extra-light');
  background: theme('colors.grey.semi-bold');;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .small-field {
    @apply md:w-[300px];
  }

  .medium-field {
    @apply md:w-[400px];
  }

  .form-row {
    @apply flex flex-col gap-2 md:flex-row md:gap-4 items-baseline;
  }

  .date-picker-calendar {
    @apply bg-blue-medium text-grey-extra-light border-none;
  }
  
  .date-picker-calendar .react-datepicker__month {
    @apply bg-blue-light text-grey-extra-light border-none m-0 rounded-b-md;
  }

  .date-picker-calendar .react-datepicker__day--in-range {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--in-selecting-range {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--range-start {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--range-end {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--keyboard-selected {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day {
    @apply hover:bg-grey-extra-light hover:text-blue-medium text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--selected {
    @apply bg-blue-medium text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__header {
    @apply bg-blue-regular border-none;
  }

  .date-picker-calendar .react-datepicker__current-month {
    @apply text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day-name {
    @apply text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--disabled,
  .date-picker-calendar .react-datepicker__day--outside-month {
    @apply text-grey-light;
  }
}

.react-datepicker {
  border: none !important;
}