@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.grey.extra-light');
  background: theme('colors.grey.semi-bold');;
}

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-blue-medium;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-light rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-light;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .small-field {
    @apply md:w-[300px];
  }

  .medium-field {
    @apply md:w-[400px];
  }

  .form-row {
    @apply flex flex-col gap-2 md:flex-row md:gap-4 items-baseline;
  }

  .date-picker-calendar {
    @apply bg-blue-medium text-grey-extra-light border-none;
  }

  .date-picker-calendar .react-datepicker__header {
    @apply bg-blue-light border-none rounded-t-md;
  }
  

  .date-picker-calendar .rreact-datepicker-wrapper {
    @apply bg-blue-light border-none rounded-t-md;
  }
  
  .date-picker-calendar .react-datepicker__month {
    @apply bg-blue-medium text-grey-extra-light border-none m-0 rounded-b-md;
  }

  .date-picker-calendar .react-datepicker__day--in-range {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--in-selecting-range {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--range-start {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--range-end {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--keyboard-selected {
    @apply bg-blue-light text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day {
    @apply hover:bg-grey-extra-light hover:text-blue-medium text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--selected {
    @apply bg-blue-medium text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__current-month {
    @apply text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day-name {
    @apply text-grey-extra-light;
  }

  .date-picker-calendar .react-datepicker__day--disabled,
  .date-picker-calendar .react-datepicker__day--outside-month {
    @apply text-blue-light;
  }
}

.react-datepicker {
  border: none !important;
}

.react-datepicker__input-container {
  border: 1px solid #D5DBDB;
  background-color: #2E4053;
  padding: 6px 15px;
  margin-top: 5px;
  border-radius: 0.375rem;
}

.react-datepicker__input-container input {
  background-color: #2E4053;
  color: #cbd5e0;
  border: none;
  outline: none;
}

.react-datepicker__header--time--only {
  border-bottom: 1px solid #D5DBDB !important;
  background-color: #2E4053 !important;
  border: 1px solid #D5DBDB;
}

.react-datepicker-time__header {
  background-color: #2E4053;
  color: #D5DBDB !important;
}

.react-datepicker__time-list-item {
  background-color: #2E4053;
  color: #D5DBDB;
}

.react-datepicker__time-list {
  border: 1px solid #D5DBDB;
}

.react-datepicker__time-list-item:hover {
  color: #2E4053;
}
